#map[b-aai2lqi8ku]{
    height: 100%;
    width: 100%;
}

.content[b-aai2lqi8ku]{
    height: 92vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding:0;
}

.add-place[b-aai2lqi8ku]{
    border: none;
    background-color: dodgerblue;
    color: white;
}

.modal[b-aai2lqi8ku] {
    display: none;
    position: fixed;
    z-index: 1;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content[b-aai2lqi8ku] {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.exit[b-aai2lqi8ku] {
    color: #aaaaaa;
    float: right;
    font-size: 40px;
    font-weight: bold;
    padding-left: 80%;
}

.exit:hover[b-aai2lqi8ku],
.exit:focus[b-aai2lqi8ku] {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.inner-field[b-aai2lqi8ku]{
    margin-left: 10px;
    width: 300px;
}

.create-place[b-aai2lqi8ku]{
    border: none;
    border-radius: 5px;
    background-color: #E57261;
    color: white;
    outline: none;
    cursor: pointer;
    display: inline-block;
}

.create-place:focus[b-aai2lqi8ku]{
    outline: none;
}

.create-place-input[b-aai2lqi8ku]{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
    margin-bottom: 15px;
}

.create-place-input input[b-aai2lqi8ku]{
    background-color: transparent;
    border: none;
    outline: none;
    transition: .2s ease-in-out;
}