.createplace-container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.inner-field{
    margin-left: 10px;
    width: 300px;
}

.post-input {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
    margin-bottom: 15px;
}

.post-input input{
    background-color: transparent;
    border: none;
    outline: none;
    transition: .2s ease-in-out;
}