.nav-container[b-1xueg0a0iu]{
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
}

.nav-logo[b-1xueg0a0iu]{
    background-image: url("icons/linux.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 25px;
    cursor: pointer;
}

.nav-main[b-1xueg0a0iu]{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.nav-main-links[b-1xueg0a0iu]{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-main-links a[b-1xueg0a0iu]{
    text-decoration: none;
    font-weight: bold;
    margin-left: 15px;
    margin-right: 15px;
    padding: 5px;
    cursor: pointer;
}

.nav-main-links a:hover[b-1xueg0a0iu]{
    border-bottom: 2px solid dodgerblue;
}


.nav-main-search[b-1xueg0a0iu]{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.nav-main-social img[b-1xueg0a0iu]{
    margin-left: 15px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.nav-main-search:hover[b-1xueg0a0iu]{
    background-color: rgba(100,100,100,0.3);
}



div #rightSide[b-1xueg0a0iu]{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
}