.navigation[b-1xueg0a0iu]{
    
}

.navigation ul[b-1xueg0a0iu] {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navigation li[b-1xueg0a0iu] {
    float: left;
}

.navigation li a[b-1xueg0a0iu] {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active)[b-1xueg0a0iu] {
    background-color: #111;
}

.navigation ul li div[b-1xueg0a0iu]{
    cursor: pointer;
}

ul #logo[b-1xueg0a0iu]{
    display: flex;
    justify-content: start;
    align-items: center;
}

ul #search[b-1xueg0a0iu]{
    display: flex;
    justify-content: center;
    align-items: center;
}

ul #profile[b-1xueg0a0iu]{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.login-button[b-1xueg0a0iu]{
    margin-right: 10px;
}

.signin-button[b-1xueg0a0iu]{
    margin-right: 10px;
}

div #rightSide[b-1xueg0a0iu]{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
}