@import '';

/* _content/Routeorama/Pages/Auth/Register.razor.rz.scp.css */

.registercontainer[b-c1tvx1re69]{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}
/* _content/Routeorama/Pages/Channel/Channel.razor.rz.scp.css */
.everything-place[b-cnnkug9k5o]{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
}

.place[b-cnnkug9k5o]{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
}

.weather[b-cnnkug9k5o]{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-around;
}

.buttonCreatePlace[b-cnnkug9k5o] {
    padding: 10px;
}

.black_overlay[b-cnnkug9k5o]{
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index:1001;
    -moz-opacity: 0.8;
    opacity:.80;
    filter: alpha(opacity=80);
}

.white_content[b-cnnkug9k5o] {
    display: none;
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    padding: 16px;
    border: 16px solid orange;
    background-color: white;
    z-index:1002;
    overflow: auto;
    align-content: center;
}

.XButton[b-cnnkug9k5o] {
    float: right;
}

.tittle[b-cnnkug9k5o] {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.CreateButton[b-cnnkug9k5o] {
    float: right;
}


.custom-file-upload[b-cnnkug9k5o] {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.overlay[b-cnnkug9k5o]{
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    z-index: 99;
    background-color: rgba(1,1,1, 0.7);
}

.overlay-content[b-cnnkug9k5o]{
    width: 30%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 5px;
}

.overlay-title[b-cnnkug9k5o]{
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.overlay-content-inner[b-cnnkug9k5o]{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 60%;
}

.overlay-create[b-cnnkug9k5o]{
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.open[b-cnnkug9k5o]{
    display: flex;
}




.feed[b-cnnkug9k5o]{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    padding: 0;
    margin: 0;
}
/* _content/Routeorama/Pages/Main/Main.razor.rz.scp.css */
/* _content/Routeorama/Pages/Map/Map.razor.rz.scp.css */
#map[b-aai2lqi8ku]{
    height: 100%;
    width: 60vw;
}

.content[b-aai2lqi8ku]{
    height: 92vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding:0;
}

.add-place[b-aai2lqi8ku]{
    border: none;
    background-color: dodgerblue;
    color: white;
}

.modal[b-aai2lqi8ku] {
    display: none;
    position: fixed;
    z-index: 1;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content[b-aai2lqi8ku] {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.exit[b-aai2lqi8ku] {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.exit:hover[b-aai2lqi8ku],
.exit:focus[b-aai2lqi8ku] {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.inner-field[b-aai2lqi8ku]{
    margin-left: 10px;
}

.create-place[b-aai2lqi8ku]{
    border: none;
    border-radius: 5px;
    background-color: deepskyblue;
    color: white;
    outline: none;
    cursor: pointer;
    display: inline-block;
}

.create-place:focus[b-aai2lqi8ku]{
    outline: none;
}
/* _content/Routeorama/Shared/Components/Auth/Login.razor.rz.scp.css */
.logincontainer[b-w6hnzd4qau]{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}
/* _content/Routeorama/Shared/Components/Nav/Nav.razor.rz.scp.css */
.navigation[b-1xueg0a0iu]{
    
}

.navigation ul[b-1xueg0a0iu] {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navigation li[b-1xueg0a0iu] {
    float: left;
}

.navigation li a[b-1xueg0a0iu] {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active)[b-1xueg0a0iu] {
    background-color: #111;
}

.navigation ul li div[b-1xueg0a0iu]{
    cursor: pointer;
}

ul #logo[b-1xueg0a0iu]{
    display: flex;
    justify-content: start;
    align-items: center;
}

ul #search[b-1xueg0a0iu]{
    display: flex;
    justify-content: center;
    align-items: center;
}

ul #profile[b-1xueg0a0iu]{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.login-button[b-1xueg0a0iu]{
    margin-right: 10px;
}

.signin-button[b-1xueg0a0iu]{
    margin-right: 10px;
}

div #rightSide[b-1xueg0a0iu]{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
}
/* _content/Routeorama/Shared/Components/Post/PostComponent.razor.rz.scp.css */
.post[b-u0y8d7kqwi] {
    background-color: #333;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40vw;
    border-radius: max(0px, min(8px, ((100vw - 4px) - 100%) * 9999)) / 8px;
    margin-bottom: 15px;
    
}

.post-image[b-u0y8d7kqwi] {
    width: 100%;
}

.post-upper[b-u0y8d7kqwi], .post-middle[b-u0y8d7kqwi], .post-bottom[b-u0y8d7kqwi] {
    width: 100%;
    border: 5px white;
}

.post-upper[b-u0y8d7kqwi], .post-bottom[b-u0y8d7kqwi] {
    padding: 15px;
}

.post-upper[b-u0y8d7kqwi] {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding-top: 10px;
}

.post-upper-profile[b-u0y8d7kqwi] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.post-date[b-u0y8d7kqwi], .post-likes[b-u0y8d7kqwi] {
    color: #B0B3B8;
    font-size: 10px;
    font-weight: normal;
}

.post-owner[b-u0y8d7kqwi] {
    cursor: pointer;
    font-weight: bold;
}

.post-owner:hover[b-u0y8d7kqwi] {
    text-decoration: underline whitesmoke;
}

.post-options[b-u0y8d7kqwi] {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
    padding: 5px;
    transition: .2s ease-in-out;
}

.post-description[b-u0y8d7kqwi] {
    padding-top: 10px;
    font-weight: normal;
    font-size: 15px;
}

.post-likes[b-u0y8d7kqwi] {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #3E4042;
}

.post-likes-inner[b-u0y8d7kqwi] {
    font-size: 13px;
}

.post-interactions[b-u0y8d7kqwi] {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.post-like-button[b-u0y8d7kqwi], .post-comment-button[b-u0y8d7kqwi] {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 49%;
    height: 100%;
    padding: 12px 0;
    margin-top: 5px;
    cursor: pointer;
    border-radius: max(0px, min(8px, ((100vw - 4px) - 100%) * 9999)) / 8px;
    transition: .2s ease-in-out;
}

.post-like-button:hover[b-u0y8d7kqwi], .post-comment-button:hover[b-u0y8d7kqwi] {
    background-color: rgba(255, 255, 255, 0.5);
}

.post-comment-button span[b-u0y8d7kqwi], .post-like-button span[b-u0y8d7kqwi] {
    margin-left: 5px;
    font-size: 15px;
}

.post-bottom[b-u0y8d7kqwi] {
    padding-top: 0;
    padding-bottom: 5px;
}
/* _content/Routeorama/Shared/MainLayout.razor.rz.scp.css */
.page[b-k1hu7hwkki] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main[b-k1hu7hwkki] {
    flex: 1;
}

.sidebar[b-k1hu7hwkki] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-k1hu7hwkki] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-k1hu7hwkki]  a, .top-row .btn-link[b-k1hu7hwkki] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-k1hu7hwkki] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-k1hu7hwkki] {
        display: none;
    }

    .top-row.auth[b-k1hu7hwkki] {
        justify-content: space-between;
    }

    .top-row a[b-k1hu7hwkki], .top-row .btn-link[b-k1hu7hwkki] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-k1hu7hwkki] {
        flex-direction: row;
    }

    .sidebar[b-k1hu7hwkki] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-k1hu7hwkki] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .main > div[b-k1hu7hwkki] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
