@inject IPlaceService PlaceService;
@inject IJSRuntime _runtime;
@page "/channel"
@using Routeorama.Data
<AuthorizeView>
    <Authorized>
        <div class="everything-place">
            <div class="place">              
                    <h1>
                        @place.name
                    </h1>
                    <h1>
                        @place.description
                    </h1>
            </div>
            <div class="weather-description" id="description"/>
            <div class="degrees" id="temp"/>
            <div class="feels-like_degrees" id="feels_like"/>
            <div class="pressure" id="pressure"/>
            <div class="location" id="location"/>
            <div class="sunrise" id="sunrise"/>
            <div class="sunset" id="sunset"/>
        </div>
    </Authorized>
    <NotAuthorized>
        <h1>U hacker</h1>
    </NotAuthorized>
</AuthorizeView>

@code {
    private Place place = new Place();

    protected override async Task OnInitializedAsync()
    {
        place = await PlaceService.FetchPlaceData();
        await _runtime.InvokeVoidAsync("fetchWeather", place.location.lat, place.location.lng);
    }
    
}