.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 90vh;
}

.profile-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profile-image{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    border-radius: 50%;
    border: 1px solid lightgray;
    background-position: center;
    background-size: cover;
    height: 130px;
    width: 130px;
}

.profile-image-inner{
    background-color: #e4e6eb;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    transition: .2s ease-in-out;
    cursor: pointer;
}

.profile-image-inner:hover{
    filter: brightness(1.2);
}

.profile-image-inner img{
    width: 18px;
    height: 18px;
}

.profile-card{
    width: 30%;
    height: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.profile-owner{
    font-weight: bold;
    font-size: 30px;
    color: #e57261;
}

.profile-card-up{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profile-data{
    color: #65676b;
    text-align: center;
}

.profile-card-down{
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-edit-button{
    border-radius: 8px;
    background-color: #e57261;
    padding: 5px 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.profile-edit-button:hover{
    filter: brightness(1.3);
}

.profile-edit-button img{
    width: 16px;
    height: 16px;
    margin-left: 5px;
}

.profile-data-group{
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-data-group img{
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.profile-edit-modal{
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(1,1,1,0.5);
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
}

.profile-edit-modal-inner{
    background-color: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 60%;
    width: 30%;
    border-radius: 8px;
}

.profile-edit-modal-actions{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
}

.profile-save-changes{
    border-radius: 8px;
    background-color: #e57261;
    padding: 5px 10px;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.profile-cancel-changes{
    border-radius: 8px;
    background-color: #65676b;
    padding: 5px 10px;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.profile-save-changes:hover, .profile-cancel-changes:hover{
    filter: brightness(1.3);
}

.profile-edit-modal-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.profile-edit-modal-input{
    margin-bottom: 5px;
}

.profile-edit-modal-input input{
    border: none;
    border-bottom: 1px solid #e57261;
    outline: none;
    width: 100%;
    margin-top: 3px;
}

.profile-edit-modal-group{
    margin-bottom: 10px;
}

.open{
    display: flex;
}

.profile-edit-close-button{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
    transition: .2s ease-in-out;
    padding: 8px;
}

.profile-edit-close-button:hover{
    background-color: rgba(50,50,50,0.2);
}