@namespace LoginComponent
@using Routeorama.Authentication

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager

<div class="logincontainer">
    <h3>Login</h3>
    
    <label class="loginlabel">Username</label>
    <div class="username-placeholder">
        <input type="text" placeholder="user name" @bind-value="username"/>
    </div>

    <label class="loginlabel">Password</label>
    <div class="password-placeholder">
        <input type="password" placeholder="password" @bind-value="password"/>
    </div>
    
    <div class="button-placeholder">
        <br>
        <RadzenButton style="margin: 0 1rem 1rem 0" Click=@(args => PerformLogin()) Text="Login" ButtonStyle="ButtonStyle.Light"/>
        <RadzenButton style="margin: 0 1rem 1rem 0" Click=@(args => PerformRegister()) Text="Register" ButtonStyle="ButtonStyle.Light"/>
    </div>
    
    <div class="errorLabel">@errorMessage</div>
</div>

@code {
    private string username;
    private string password;
    private string errorMessage;

    public async Task PerformLogin()
    {
        errorMessage = "";
        try
        {
            await ((CustomAuthenticationStateProvider) AuthenticationStateProvider).ValidateLogin(username, password);
            NavigationManager.NavigateTo("/NewsFeed");
            username = "";
            password = "";
        }
        catch (Exception e)
        {
            errorMessage = e.Message;
        }
    }
    private void PerformRegister()
    {
        NavigationManager.NavigateTo("/register");
    }
}