@using Routeorama.Authentication
@inject AuthenticationStateProvider AuthenticationStateProvider

<a href="" @onclick="PerformLogout">
    Log out
</a>

@code {
    public async Task PerformLogout()
    {
        ((CustomAuthenticationStateProvider) AuthenticationStateProvider).Logout();
    }
}