.everything {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: baseline;
    align-content: center;
}

.feed{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    margin-top: 10px;
}

.suggestions {
    position: -webkit-sticky;
    position: sticky;
    top: 5px;
    margin-top: 10px;
    margin-left: 40px;
    font-size: 20px;
    
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

.most-followed-places {
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    margin: 0px 20px 20px 0px;
}

.most-liked-places {
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    margin: 20px 20px 20px 0px;
}

.in-one-line {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
}
