.whole-page[b-cnnkug9k5o] {
    height: 92vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    
    background-image: url("/icons/background2.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.everything-place[b-cnnkug9k5o]{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
}

.place[b-cnnkug9k5o]{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;
    width: 50%;
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: white;
    
    margin: 10px 10px 5px 10px;
    padding: 10px 10px 10px 10px;
    border: 2px solid white;
    border-radius: 5px;
}

.weather[b-cnnkug9k5o]{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
    align-content: space-around;
    width: 50%;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: white;

    margin: 5px 10px 5px 10px;
    padding: 10px 10px 10px 10px;
    border: 2px solid white;
    border-radius: 5px;
}

.buttonCreatePlace[b-cnnkug9k5o] {
    padding: 10px;
    border: 0px solid;
}

.black_overlay[b-cnnkug9k5o]{
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index:1001;
    -moz-opacity: 0.8;
    opacity:.80;
    filter: alpha(opacity=80);
}

.white_content[b-cnnkug9k5o] {
    display: none;
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    padding: 16px;
    border: 16px solid orange;
    background-color: white;
    z-index:1002;
    overflow: auto;
    align-content: center;
}

.XButton[b-cnnkug9k5o] {
    float: right;
}

.tittle[b-cnnkug9k5o] {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.CreateButton[b-cnnkug9k5o] {
    float: right;
}


.custom-file-upload[b-cnnkug9k5o] {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.overlay[b-cnnkug9k5o]{
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    z-index: 99;
    background-color: rgba(1,1,1, 0.7);
}

.overlay-content[b-cnnkug9k5o]{
    width: 30%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 5px;
}

.overlay-title[b-cnnkug9k5o]{
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.overlay-content-inner[b-cnnkug9k5o]{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 60%;
}

.overlay-create[b-cnnkug9k5o]{
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.open[b-cnnkug9k5o]{
    display: flex;
}

.feed[b-cnnkug9k5o]{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    padding: 0;
    margin: 0;
}

.separate-description[b-cnnkug9k5o] {
    
}

.follow-button[b-cnnkug9k5o] {
    display: flex;
}

.nav-img-container[b-cnnkug9k5o]{
    padding: 0px 0px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
}