.main-feed[b-2n7fw7jwce] {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92vh;
    width: 100%;

    background-image: url("/icons/background2.svg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.main-feed-left[b-2n7fw7jwce], .main-feed-right[b-2n7fw7jwce], .main-feed-center[b-2n7fw7jwce] {
    display: flex;
    width: 29%;
    height: 100%;
    overflow-y: scroll;
}

.main-feed-center[b-2n7fw7jwce] {
    width: 42%;
    display: flex;
    overflow: scroll;
}

.main-feed [b-2n7fw7jwce]::-webkit-scrollbar {
    display: none;
}

.main-feed-center[b-2n7fw7jwce] {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
}

.main-feed-right[b-2n7fw7jwce] {
    display: flex;
    justify-content: center;
    align-items: center;
}

.most-followed-places[b-2n7fw7jwce] {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 250px;
    background-color: #ffffff;
    border-radius: 8px;
    color: black;
    padding: 10px;
}

.in-one-line[b-2n7fw7jwce] {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    margin-bottom: 5px;
    border-radius: 8px;
    transition: .2s ease-in-out;
    cursor: pointer;
}

.most-followed-inner[b-2n7fw7jwce] {
    display: flex;
    justify-content: center;
    align-items: center;
}

.most-followed-name[b-2n7fw7jwce] {
    margin-left: 10px;
    margin-right: 10px;
}

.in-one-line:hover[b-2n7fw7jwce] {
    background-color: rgba(50, 50, 50, 0.2);
}

.most-followed-title[b-2n7fw7jwce] {
    font-size: 20px;
    color: #e57261;
    width: 100%;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.most-followed-count[b-2n7fw7jwce] {
    display: flex;
    justify-content: center;
    align-items: center;
}

.most-followed-count img[b-2n7fw7jwce] {
    margin-left: 5px;
    width: 16px;
    height: 16px;
}


