.navigation{
    
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navigation li {
    float: left;
}

.navigation li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.navigation ul li div{
    cursor: pointer;
}

ul #logo{
    display: flex;
    justify-content: start;
    align-items: center;
}

ul #search{
    display: flex;
    justify-content: center;
    align-items: center;
}

ul #profile{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.login-button{
    margin-right: 10px;
}

.signin-button{
    margin-right: 10px;
}

div #rightSide{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
}