
.main{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    background-image: url("img/bogdanel1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
}

.title{
    font-weight: bolder;
    font-size: 50px;
    padding-left: 3.5rem;
    padding-top: 3.5rem; 
    color: white;
}

.bottom{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    height: 50vh;
}

button{
    border: none;
    border-radius: 3px;
    width: 25vw;
    height: 8vh;
    color: white;
    font-weight: bolder;
    margin-bottom: 15px;
    transition: .2s ease-in-out;
}

button:hover{
    filter: brightness(1.5);
}

button:focus{
    outline: none;
}

.sign-in{
    background-color: #f96d5c;
}

.register, .guest{
    background-color: #255169;
}