@page "/"
@using LoginComponent
@inherits LayoutComponentBase

<div class="page">
    <AuthorizeView>
        <NotAuthorized>
            <Login/>
        </NotAuthorized>
        <Authorized>
            <Nav/>
            @Body
        </Authorized>
    </AuthorizeView>
</div>

@code {

}