@page "/"
@inherits LayoutComponentBase
@using LoginComponent

<div class="page">
    <AuthorizeView>
        <NotAuthorized>
            <Login/>
        </NotAuthorized>
        <Authorized>
            <Nav/>
            @Body
        </Authorized>
    </AuthorizeView>
</div>

@code {

}