@page "/googlemap"
@inject IJSRuntime _runtime;

<div id="map" style="height: 70vh; width: 70vh;"></div>

@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
       await _runtime.InvokeVoidAsync("initMap");
    }
    

}